client-app/node-red-flows/flows.json
[{"id":"4d69d9c.a75d2a8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"9d1088d5.6245c","type":"http in","z":"4d69d9c.a75d2a8","name":"","url":"client","method":"get","upload":false,"swaggerDoc":"","x":80,"y":800,"wires":[["76354afe.22db3c"]]},{"id":"69a58e4c.85e63","type":"http request","z":"4d69d9c.a75d2a8","name":"Get token","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":460,"y":800,"wires":[["dfeda803.223798"]]},{"id":"76354afe.22db3c","type":"function","z":"4d69d9c.a75d2a8","name":"","func":"var globalContext = global;\n\nmsg.url=globalContext.get(\"oauth_token_url\");\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/x-www-form-urlencoded';\nmsg.payload.grant_type='authorization_code';\nmsg.payload.redirect_uri=globalContext.get(\"redirect_url\");\nmsg.payload.client_id=globalContext.get(\"client_id\");\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":800,"wires":[["69a58e4c.85e63"]]},{"id":"dfeda803.223798","type":"function","z":"4d69d9c.a75d2a8","name":"","func":"var jsonobj = JSON.parse(msg.payload)\nnode.error(jsonobj.access_token);\nvar globalContext = global;\nglobalContext.set(\"access_token\",jsonobj.access_token);\nmsg.payload={};\nmsg.payload.url=globalContext.get(\"node_red_url\")+\"/menus\";\nmsg.payload.token = jsonobj.access_token;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":800,"wires":[["8d880f4e.9c071"]]},{"id":"e9e0f374.b03df","type":"template","z":"4d69d9c.a75d2a8","name":"Login","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->\n<title>Code Bank | Login</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link\n\thref=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\"\n\trel=\"stylesheet\">\n<link rel=\"stylesheet\" href=\"{{{payload.node_red_url}}}/style.css\">\n<script src=\"https://code.jquery.com/jquery-1.11.1.min.js\"></script>\n<script\n\tsrc=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js\"></script>\n</head>\n\n<body class=\"bg\">\n\n\t<nav\n\t\tclass=\"navbar special-card navbar-expand-lg navbar-light bg-light navbar-laravel\">\n\t\t<div class=\"container\">\n\t\t\t<a class=\"navbar-brand\" href=\"#\">Code Bank </a>\n\t\t\t<button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\"\n\t\t\t\tdata-target=\"#navbarSupportedContent\"\n\t\t\t\taria-controls=\"navbarSupportedContent\" aria-expanded=\"false\"\n\t\t\t\taria-label=\"Toggle navigation\">\n\t\t\t\t<span class=\"navbar-toggler-icon\"></span>\n\t\t\t</button>\n\n\t\t\t<div class=\"collapse navbar-collapse\" id=\"navbarSupportedContent\">\n\t\t\t\t<ul class=\"navbar-nav ml-auto\">\n\t\t\t\t\t<li class=\"nav-item\"><a class=\"nav-link\" href=\"#\">Login</a></li>\n\t\t\t\t</ul>\n\n\t\t\t</div>\n\t\t</div>\n\t</nav>\n\n\t<main class=\"login-form\">\n\t<div class=\"cotainer\">\n\t\t<div class=\"row justify-content-center\">\n\t\t\t<div class=\"col-md-4\">\n\t\t\t\t<div class=\"card special-card\">\n\t\t\t\t\t<div class=\"card-header\" align=\"center\">Login</div>\n\t\t\t\t\t<div class=\"card-body\">\n\t\t\t\t\t\t<form action=\"authorize\" method=\"POST\">\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"username\"\n\t\t\t\t\t\t\t\t\tclass=\"col-md-4 col-form-label text-md-right\">Username</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_username\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"username\" required autofocus>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"password\"\n\t\t\t\t\t\t\t\t\tclass=\"col-md-4 col-form-label text-md-right\">Password</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"password\" id=\"input_password\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"password\" required>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t<div class=\"col-md-6 offset-md-4\">\n\t\t\t\t\t\t\t\t<button type=\"submit\" class=\"btn btn-primary\">Login</button>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t</form>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n\t</main>\n\n</body>\n</html>\n\n","output":"str","x":530,"y":60,"wires":[["86b59160.0197a"]]},{"id":"d96781f.d1d78","type":"http in","z":"4d69d9c.a75d2a8","name":"","url":"login","method":"get","upload":false,"swaggerDoc":"","x":80,"y":60,"wires":[["3dcb01d7.e006f6"]]},{"id":"86b59160.0197a","type":"http response","z":"4d69d9c.a75d2a8","name":"","statusCode":"","headers":{},"x":750,"y":60,"wires":[]},{"id":"88b44f66.e2375","type":"http in","z":"4d69d9c.a75d2a8","name":"","url":"menus","method":"get","upload":false,"swaggerDoc":"","x":90,"y":300,"wires":[["9389fab8.c4ac6"]]},{"id":"71fac4be.ce9964","type":"http response","z":"4d69d9c.a75d2a8","name":"","statusCode":"","headers":{},"x":530,"y":300,"wires":[]},{"id":"9389fab8.c4ac6","type":"template","z":"4d69d9c.a75d2a8","name":"Menus","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->\n<title>Code Bank | Menu</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link\n\thref=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\"\n\trel=\"stylesheet\">\n<link rel=\"stylesheet\" href=\"{{{payload.node_red_url}}}/style.css\">\n<script src=\"https://code.jquery.com/jquery-1.11.1.min.js\"></script>\n<script\n\tsrc=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js\"></script>\n</head>\n\n<body class=\"bg\">\n\n\t<nav\n\t\tclass=\"navbar special-card navbar-expand-lg navbar-light bg-light navbar-laravel\">\n\t\t<div class=\"container\">\n\t\t\t<a class=\"navbar-brand\" href=\"#\">Code Bank</a>\n\t\t\t<button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\"\n\t\t\t\tdata-target=\"#navbarSupportedContent\"\n\t\t\t\taria-controls=\"navbarSupportedContent\" aria-expanded=\"false\"\n\t\t\t\taria-label=\"Toggle navigation\">\n\t\t\t\t<span class=\"navbar-toggler-icon\"></span>\n\t\t\t</button>\n\n\t\t\t<div class=\"collapse navbar-collapse\" id=\"navbarSupportedContent\">\n\t\t\t\t<ul class=\"navbar-nav ml-auto\">\n\t\t\t\t\t<li class=\"nav-item\"><a class=\"nav-link\" href=\"menus\">Home</a>\n\t\t\t\t\t</li>\n\t\t\t\t\t<li class=\"nav-item\"><a class=\"nav-link\" href=\"login\">Logout</a>\n\t\t\t\t\t</li>\n\t\t\t\t</ul>\n\n\t\t\t</div>\n\t\t</div>\n\t</nav>\n\n\t<main class=\"login-form\">\n\t<div class=\"cotainer\">\n\t\t<div class=\"row justify-content-center\">\n\t\t\t<div class=\"col-md-3.5\">\n\t\t\t\t<div class=\"card special-card\">\n\t\t\t\t\t<div class=\"card-header\">What do you wish to do today?</div>\n\t\t\t\t\t<div class=\"card-body\">\n\t\t\t\t\t\t<div id='cssmenu'>\n\t\t\t\t\t\t\t<ul>\n\t\t\t\t\t\t\t\t<li><a href='transferui'><span>Transfer Funds to\n\t\t\t\t\t\t\t\t\t\t\tanother account</span></a></li>\n\t\t\t\t\t\t\t\t<li class='last'><a href='login'><span>Logout</span></a></li>\n\t\t\t\t\t\t\t</ul>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n\n\t</main>\n</body>\n</html>","output":"str","x":310,"y":300,"wires":[["71fac4be.ce9964"]]},{"id":"c1247e2a.61aa3","type":"http response","z":"4d69d9c.a75d2a8","name":"","statusCode":"","headers":{},"x":1110,"y":800,"wires":[]},{"id":"cc3cddf8.b745d8","type":"http in","z":"4d69d9c.a75d2a8","name":"","url":"transfer","method":"post","upload":false,"swaggerDoc":"","x":100,"y":400,"wires":[["67e4b5b5.4b1c2c"]]},{"id":"2fb5a73e.134dc","type":"function","z":"4d69d9c.a75d2a8","name":"","func":"msg.headers = {};\nmsg.headers['X-IBM-Client-Id']= msg.payload.client_id;\nvar globalContext = global;\nnode.error(msg.payload.inputaccesstoken);\nmsg.headers['Authorization']= 'Bearer '+msg.payload.inputaccesstoken;\nmsg.url = globalContext.get(\"transfer_url\");\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["5be5aa7a.66e1a4"]]},{"id":"5be5aa7a.66e1a4","type":"http request","z":"4d69d9c.a75d2a8","name":"Transfer funds","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":600,"y":400,"wires":[["1b29ada8.b531aa"]]},{"id":"ccdc8a87.81254","type":"http response","z":"4d69d9c.a75d2a8","name":"","statusCode":"","headers":{},"x":1270,"y":400,"wires":[]},{"id":"b3979473.98141","type":"http in","z":"4d69d9c.a75d2a8","name":"","url":"transferui","method":"get","upload":false,"swaggerDoc":"","x":100,"y":500,"wires":[["294123d6.babf9c"]]},{"id":"98e818e6.366f48","type":"template","z":"4d69d9c.a75d2a8","name":"Funds Transfer UI","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->\n<title>Code Bank | Transfer Funds</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link\n\thref=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\"\n\trel=\"stylesheet\">\n<link rel=\"stylesheet\"\n\thref=\"{{{payload.node_red_url}}}/style.css\">\n<script src=\"https://code.jquery.com/jquery-1.11.1.min.js\"></script>\n<script\n\tsrc=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js\"></script>\n<script>\n\tfunction redirect(url) {\n\t\twindow.location = url;\n\t}\n\tfunction setCookie(cname, cvalue, exdays) {\n\t\tvar d = new Date();\n\t\td.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));\n\t\tvar expires = \"expires=\" + d.toUTCString();\n\t\tdocument.cookie = cname + \"=\" + cvalue + \";\" + expires + \";path=/\";\n\t}\n\n\tfunction getCookie(cname) {\n\t\tvar name = cname + \"=\";\n\t\tvar ca = document.cookie.split(';');\n\t\tfor (var i = 0; i < ca.length; i++) {\n\t\t\tvar c = ca[i];\n\t\t\twhile (c.charAt(0) == ' ') {\n\t\t\t\tc = c.substring(1);\n\t\t\t}\n\t\t\tif (c.indexOf(name) == 0) {\n\t\t\t\treturn c.substring(name.length, c.length);\n\t\t\t}\n\t\t}\n\t\treturn \"\";\n\t}\n\n\tfunction checkCookie(cname) {\n\t\tvar token = getCookie(cname);\n\t\tif (token != \"\") {\n\t\t\talert(\"Welcome again \");\n\t\t} else {\n\t\t\talert(\"Session expired. Login again\");\n\t\t\tredirect(\"login\");\n\t\t}\n\t}\n</script>\n\n</head>\n<body class=\"bg\">\n\t<nav\n\t\tclass=\"navbar special-card navbar-expand-lg navbar-light bg-light navbar-laravel\">\n\t\t<div class=\"container\">\n\t\t\t<a class=\"navbar-brand\" href=\"#\">Code Bank</a>\n\t\t\t<button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\"\n\t\t\t\tdata-target=\"#navbarSupportedContent\"\n\t\t\t\taria-controls=\"navbarSupportedContent\" aria-expanded=\"false\"\n\t\t\t\taria-label=\"Toggle navigation\">\n\t\t\t\t<span class=\"navbar-toggler-icon\"></span>\n\t\t\t</button>\n\n\t\t\t<div class=\"collapse navbar-collapse\" id=\"navbarSupportedContent\">\n\t\t\t\t<ul class=\"navbar-nav ml-auto\">\n\t\t\t\t\t<li class=\"nav-item\"><a class=\"nav-link\" href=\"menus\">Home</a>\n\t\t\t\t\t</li>\n\t\t\t\t\t<li class=\"nav-item\"><a class=\"nav-link\" href=\"login\">Logout</a>\n\t\t\t\t\t</li>\n\t\t\t\t</ul>\n\n\t\t\t</div>\n\t\t</div>\n\t</nav>\n\n\t<main class=\"login-form\">\n\t<div class=\"cotainer\">\n\t\t<div class=\"row justify-content-center\">\n\t\t\t<div class=\"col-md-6\">\n\t\t\t\t<div class=\"card special-card bg-light\">\n\t\t\t\t\t<div class=\"card-header\" align=\"center\">Transfer Funds</div>\n\t\t\t\t\t<div class=\"card-body\">\n\t\t\t\t\t\t<form action=\"transfer\"\n\t\t\t\t\t\t\tmethod=\"POST\">\n\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label class=\"col-md-4 col-form-label text-md-right\">Source\n\t\t\t\t\t\t\t\t\tA/C Number :</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_source_account_num\"\n\t\t\t\t\t\t\t\t\t\tclass=\"form-control\" name=\"source_accountID\" required\n\t\t\t\t\t\t\t\t\t\tautofocus>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label class=\"col-md-4 col-form-label text-md-right\">Target\n\t\t\t\t\t\t\t\t\tA/C Number :</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_target_account_num\"\n\t\t\t\t\t\t\t\t\t\tclass=\"form-control\" name=\"target_accountID\" required\n\t\t\t\t\t\t\t\t\t\tautofocus>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label class=\"col-md-4 col-form-label text-md-right\">Amount\n\t\t\t\t\t\t\t\t\tto Transfer :</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_amount\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"amount_to_transfer\" required autofocus>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t<input type=\"hidden\" id=\"accesstoken\" name=\"inputaccesstoken\"\n\t\t\t\t\t\t\t\t\tvalue=\"null\" />\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label class=\"col-md-4 col-form-label text-md-right\">Transfer Type :</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_transfer_type\"\n\t\t\t\t\t\t\t\t\t\tclass=\"form-control\" name=\"transfer_type\" \n\t\t\t\t\t\t\t\t\t\trequired\n\t\t\t\t\t\t\t\t\t\tautofocus>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label class=\"col-md-4 col-form-label text-md-right\">Remarks\n\t\t\t\t\t\t\t\t\t :</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_remarks\"\n\t\t\t\t\t\t\t\t\t\tclass=\"form-control\" name=\"remarks\" required\n\t\t\t\t\t\t\t\t\t\tautofocus>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"col-md-6 offset-md-4\">\n\t\t\t\t\t\t\t\t<button type=\"submit\" class=\"btn btn-primary\">Transfer\n\t\t\t\t\t\t\t\t</button>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</form>\n\t\t\t\t\t</div>\n\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n\n\t</main>\n\n\t<script>\n\t\tvar token = getCookie(\"token\");\n\t\tif (token != \"\") {\n\t\t\tvar tokenElem = document.getElementById(\"accesstoken\");\n\t\t\ttokenElem.value = token;\n\t\t} else {\n\t\t\talert(\"Session expired. Login again\");\n\t\t\tredirect(\"login\");\n\t\t}\n\t</script>\n\n\n</body>\n</html>\n","output":"str","x":490,"y":500,"wires":[["bca76441.57f72"]]},{"id":"bca76441.57f72","type":"http response","z":"4d69d9c.a75d2a8","name":"","statusCode":"","headers":{},"x":730,"y":500,"wires":[]},{"id":"b8d2b9da.7942d8","type":"template","z":"4d69d9c.a75d2a8","name":"Transaction Summary Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\">\n    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->\n    <title>Code Bank | Summary</title>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <link rel=\"stylesheet\" href=\"{{{payload.node_red_url}}}/style.css\">\n    <script src=\"https://code.jquery.com/jquery-1.11.1.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js\"></script>\n</head>\n<body class=\"bg\">\n<nav class=\"navbar special-card navbar-expand-lg navbar-light bg-light navbar-laravel\">\n    <div class=\"container\">\n        <a class=\"navbar-brand\" href=\"#\">Code Bank</a>\n        <button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\" data-target=\"#navbarSupportedContent\" aria-controls=\"navbarSupportedContent\" aria-expanded=\"false\" aria-label=\"Toggle navigation\">\n            <span class=\"navbar-toggler-icon\"></span>\n        </button>\n\n        <div class=\"collapse navbar-collapse\" id=\"navbarSupportedContent\">\n            <ul class=\"navbar-nav ml-auto\">\n                 <li class=\"nav-item\">\n                    <a class=\"nav-link\" href=\"menus\">Home</a>\n                </li>\n                <li class=\"nav-item\">\n                    <a class=\"nav-link\" href=\"login\">Logout</a>\n                </li>\n            </ul>\n\n        </div>\n    </div>\n</nav>\n\n<main class=\"login-form\">\n    <div class=\"cotainer\">\n        <div class=\"row justify-content-center\">\n            <div class=\"col-md-4\">\n                <div class=\"card special-card\">\n                    <div class=\"card-header\" align=\"center\">Transaction Summary</div>\n                    <div class=\"card-body\">\n                        <form action=\"\" method=\"\">\n                            \n                            <div class=\"form-group row\">\n                                <label  class=\"col-md-4 col-form-label text-md-right\">Request Number :</label>\n                                    <label  class=\"col-md-8 col-form-label text-md-left\">{{{payload.request_no}}}</label>\n                            </div>\n                            <div class=\"form-group row\">\n                                <label  class=\"col-md-4 col-form-label text-md-right\">Transaction ID :</label>\n                                 <label  class=\"col-md-8 col-form-label text-md-left\">{{{payload.transactionID}}}</label>\n                            </div>\n                            <div class=\"form-group row\">\n                                <label  class=\"col-md-4 col-form-label text-md-right\">Response message :</label>\n                                 <label  class=\"col-md-8 col-form-label text-md-left\">{{{payload.responseMsg}}}</label>\n                            </div>\n                            </form>\n                            <p style=\"color:red\">{{{payload.errordesc}}}</p>\n                    </div>\n                </div>\n            </div>\n        </div>\n    </div>\n\n</main>\n</body>\n</html>\n","output":"str","x":1040,"y":400,"wires":[["ccdc8a87.81254"]]},{"id":"1b29ada8.b531aa","type":"function","z":"4d69d9c.a75d2a8","name":"","func":"var jsonobj = JSON.parse(msg.payload);\nmsg.payload = {};\nmsg.payload = jsonobj;\nif (!jsonobj.request_no)\n{\n  msg.payload.error=\"Some error occured\";\n  msg.payload.errordesc=JSON.stringify(jsonobj);\n}\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":400,"wires":[["b8d2b9da.7942d8"]]},{"id":"8d880f4e.9c071","type":"template","z":"4d69d9c.a75d2a8","name":"Redirect to Menu","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\">\n    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->\n    <title>Code Bank | Authentication Successful!</title>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <link rel=\"stylesheet\" href=\"{{{payload.node_red_url}}}/style.css\">\n    <script src=\"https://code.jquery.com/jquery-1.11.1.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js\"></script>\n    <script>\n\tfunction redirect(url) {\n\t\twindow.location = url;\n\t}\n\tfunction setCookie(cname, cvalue, exdays) {\n\t\tvar d = new Date();\n\t\td.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));\n\t\tvar expires = \"expires=\" + d.toUTCString();\n\t\tdocument.cookie = cname + \"=\" + cvalue + \";\" + expires + \";path=/\" + \";domain=client-app-bk.au-syd.mybluemix.net;secure\";\n\t}\n\n\tfunction getCookie(cname) {\n\t\tvar name = cname + \"=\";\n\t\tvar ca = document.cookie.split(';');\n\t\tfor (var i = 0; i < ca.length; i++) {\n\t\t\tvar c = ca[i];\n\t\t\twhile (c.charAt(0) == ' ') {\n\t\t\t\tc = c.substring(1);\n\t\t\t}\n\t\t\tif (c.indexOf(name) == 0) {\n\t\t\t\treturn c.substring(name.length, c.length);\n\t\t\t}\n\t\t}\n\t\treturn \"\";\n\t}\n\n\tsetCookie(\"token\", \"{{{payload.token}}}\", 1);\n</script>\n    \n</head>\n<body class=\"bg\">\n<nav class=\"navbar special-card navbar-expand-lg navbar-light bg-light navbar-laravel\">\n    <div class=\"container\">\n        <a class=\"navbar-brand\" href=\"#\">Code Bank</a>\n        <button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\" data-target=\"#navbarSupportedContent\" aria-controls=\"navbarSupportedContent\" aria-expanded=\"false\" aria-label=\"Toggle navigation\">\n            <span class=\"navbar-toggler-icon\"></span>\n        </button>\n\n        <div class=\"collapse navbar-collapse\" id=\"navbarSupportedContent\">\n            <ul class=\"navbar-nav ml-auto\">\n                 <li class=\"nav-item\">\n                    <a class=\"nav-link\" href=\"menus\">Home</a>\n                </li>\n                <li class=\"nav-item\">\n                    <a class=\"nav-link\" href=\"login\">Logout</a>\n                </li>\n            </ul>\n\n        </div>\n    </div>\n</nav>\n\n<main class=\"login-form\">\n    <div class=\"cotainer\">\n        <div class=\"row justify-content-center\">\n            <div class=\"col-md-4\">\n                <div class=\"card special-card\">\n                    <div class=\"card-header\" align=\"center\">Authentication was successful.</div>\n                    <div class=\"card-body\">\n                      Got OAuth token and storing it in a cookie - {{{payload.token}}}.\n                      <div>\n                         Redirecting to menu options....\n                      </div>\n                    </div>\n                    \n                </div>\n            </div>\n        </div>\n    </div>\n\n</main>\n<script>\nsetTimeout(redirect(\"{{{payload.url}}}\"), 3000);\n</script>\n</body>\n</html>\n","output":"str","x":810,"y":800,"wires":[["c1247e2a.61aa3"]]},{"id":"9fa6624e.1e65f8","type":"http in","z":"4d69d9c.a75d2a8","name":"","url":"style.css","method":"get","upload":false,"swaggerDoc":"","x":90,"y":640,"wires":[["e7562026.1b1ba8"]]},{"id":"e7562026.1b1ba8","type":"template","z":"4d69d9c.a75d2a8","name":"Styles","field":"payload","fieldType":"msg","format":"css","syntax":"plain","template":"/* Starter CSS for Flyout Menu */\n        \nbody, html {\n  height: 100%;\n}\n.bg {\n\n  /* Full height */\n  height: 100%;\n\n  /* Center and scale the image nicely */\n  background-position: center;\n  background-repeat: no-repeat;\n  background-size: cover;\n}\n\n.navbar-laravel\n{\n    box-shadow: 0 2px 4px rgba(0,0,0,.8);\n}\n\n.navbar-brand , .nav-link, .my-form, .login-form\n{\n    font-family: Raleway, sans-serif;\n}\n\n.my-form\n{\n    padding-top: 1.5rem;\n    padding-bottom: 1.5rem;\n}\n.special-card {\n  opacity: .7;\n}\n\n.transp {\n    box-shadow: 0 2px 4px rgba(0,0,0,.04);\n}\n\n.my-form .row\n{\n    margin-left: 0;\n    margin-right: 0;\n}\n\n.login-form\n{\n    padding-top: 12rem;\n    padding-bottom: 1.5rem;\n}\n\n.login-form .row\n{\n    margin-left: 0;\n    margin-right: 0;\n}\n\n#cssmenu {\n  padding: 0;\n  margin: 0;\n  border: 0;\n}\n#cssmenu ul,\nli {\n  list-style: none;\n  margin: 0;\n  padding: 0;\n}\n#cssmenu ul {\n  position: relative;\n  z-index: 597;\n  float: left;\n}\n#cssmenu ul li {\n  float: left;\n  min-height: 1px;\n  line-height: 1em;\n  vertical-align: middle;\n}\n#cssmenu ul li.hover,\n#cssmenu ul li:hover {\n  position: relative;\n  z-index: 599;\n  cursor: default;\n}\n#cssmenu ul ul {\n  visibility: hidden;\n  position: absolute;\n  top: 100%;\n  left: 0;\n  z-index: 598;\n  width: 100%;\n}\n#cssmenu ul ul li {\n  float: none;\n}\n#cssmenu ul li:hover > ul {\n  visibility: visible;\n}\n#cssmenu ul ul {\n  top: 0;\n  left: 100%;\n}\n#cssmenu ul li {\n  float: none;\n}\n/* Custom Stuff */\n#cssmenu span,\n#cssmenu a {\n  display: inline-block;\n  font-family: Arial, Helvetica, sans-serif;\n  font-size: 12px;\n  text-decoration: none;\n}\n#cssmenu {\n  -moz-border-radius: 5px;\n  -webkit-border-radius: 5px;\n  border-radius: 5px;\n  -moz-background-clip: padding;\n  -webkit-background-clip: padding-box;\n  background-clip: padding-box;\n  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);\n  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);\n  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);\n  font-weight: 600;\n  width: 200px;\n}\n#cssmenu:after,\n#cssmenu ul:after {\n  content: '';\n  display: block;\n  clear: both;\n}\n#cssmenu > ul > li:first-child {\n  -moz-border-radius: 5px 5px 0 0;\n  -webkit-border-radius: 5px 5px 0 0;\n  border-radius: 5px 5px 0 0;\n  -moz-background-clip: padding;\n  -webkit-background-clip: padding-box;\n  background-clip: padding-box;\n}\n#cssmenu > ul > li:last-child {\n  -moz-border-radius: 0 0 5px 5px;\n  -webkit-border-radius: 0 0 5px 5px;\n  border-radius: 0 0 5px 5px;\n  -moz-background-clip: padding;\n  -webkit-background-clip: padding-box;\n  background-clip: padding-box;\n}\n#cssmenu > ul > li ul ul li:first-child {\n  -moz-border-radius: 0 5px 0 0;\n  -webkit-border-radius: 0 5px 0 0;\n  border-radius: 0 5px 0 0;\n  -moz-background-clip: padding;\n  -webkit-background-clip: padding-box;\n  background-clip: padding-box;\n}\n#cssmenu > ul > li ul ul li:last-child {\n  -moz-border-radius: 0 0 5px 0;\n  -webkit-border-radius: 0 0 5px 0;\n  border-radius: 0 0 5px 0;\n  -moz-background-clip: padding;\n  -webkit-background-clip: padding-box;\n  background-clip: padding-box;\n}\n#cssmenu ul,\n#cssmenu li {\n  width: 100%;\n}\n#cssmenu li {\n  background: #c0bebf url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA0CAMAAAB8fKKlAAAAmVBMVEXy7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7erx7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7eoO3g4TAAAAMnRSTlP8+fbz7+vn497Z1M/KxL+5s66oopuVj4mDfHZwamRdV1FMRkA7NTArJiEcGBQQDAkGA02z+X0AAABLSURBVHheDcGDEQMBAACwvFnbtrv/cO3F949AKBJLpDK5QqlSa2hqaevo6ukbGBoZm5iamVtYWlnb2NrZOzg6Obu4url7eHp5+/wAxikFLnlTZcYAAAAASUVORK5CYII=) repeat-x;\n  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f2edea), color-stop(1, #c0bebf));\n  background-image: -webkit-linear-gradient(top, #f2edea, #c0bebf);\n  background-image: -moz-linear-gradient(top, #f2edea, #c0bebf);\n  background-image: -ms-linear-gradient(top, #f2edea, #c0bebf);\n  background-image: -o-linear-gradient(top, #f2edea, #c0bebf);\n  background-image: linear-gradient(#f2edea, #c0bebf);\n}\n#cssmenu li:hover,\n#cssmenu li.active {\n  background: #606a76 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA0CAMAAAB8fKKlAAAAmVBMVEVKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmL///9KVmL3Z0MtAAAAMnRSTlP8+fby7+vm4t3Y087Iw723sauln5mTjIaAeXNsZmBaVE5IQjw3MSwnIh0ZFBANCQYDAAm6nKYAAABLSURBVHheDcGDEQMBAACwvFnbtrv/cO3F949AKBJLpDK5QqlSa2hqaevo6ukbGBoZm5iamVtYWlnb2NrZOzg6Obu4url7eHp5+/wAxikFLnlTZcYAAAAASUVORK5CYII=) repeat-x;\n  -moz-box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.15);\n  -webkit-box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.15);\n  box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.15);\n  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4a5662), color-stop(1, #606a76));\n  background-image: -webkit-linear-gradient(top, #4a5662, #606a76);\n  background-image: -moz-linear-gradient(top, #4a5662, #606a76);\n  background-image: -ms-linear-gradient(top, #4a5662, #606a76);\n  background-image: -o-linear-gradient(top, #4a5662, #606a76);\n  background-image: linear-gradient(#4a5662, #606a76);\n}\n#cssmenu li:hover > a,\n#cssmenu li.active > a {\n  color: #FFF;\n}\n#cssmenu a {\n  color: #666666;\n  line-height: 160%;\n  padding: 16px 8px 16px 28px;\n  width: 164px;\n}\n#cssmenu ul ul {\n  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);\n  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);\n  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);\n  width: 200px;\n}\n#cssmenu ul ul li {\n  background: #606a76;\n  border-bottom: 1px solid #59636F;\n  -moz-box-shadow: inset 0 1px 0 #66707c;\n  -webkit-box-shadow: inset 0 1px 0 #66707c;\n  box-shadow: inset 0 1px 0 #66707c;\n}\n#cssmenu ul ul li:hover {\n  background: #4a5662;\n}\n#cssmenu ul ul li a {\n  color: #FFF;\n}\n#cssmenu ul ul a,\n#cssmenu ul ul a span {\n  font-size: 12px;\n}\n\nbody{\n    margin: 0;\n    font-size: .9rem;\n    font-weight: 400;\n    line-height: 1.6;\n    color: #212529;\n    text-align: left;\n    background-color: #f5f8fa;\n}","output":"str","x":310,"y":640,"wires":[["16c6043b.ddbef4"]]},{"id":"f1cdb2f.9a9155","type":"http response","z":"4d69d9c.a75d2a8","name":"","statusCode":"","headers":{},"x":770,"y":640,"wires":[]},{"id":"16c6043b.ddbef4","type":"function","z":"4d69d9c.a75d2a8","name":"","func":"msg.headers = {};\nmsg.headers[\"Content-Type\"]=\"text/css\";\nmsg.headers[\"Accept\"]=\"text/css\";\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":640,"wires":[["f1cdb2f.9a9155"]]},{"id":"6ea4863d.3fd938","type":"http in","z":"4d69d9c.a75d2a8","name":"","url":"/authorize","method":"post","upload":false,"swaggerDoc":"","x":100,"y":180,"wires":[["febf227e.d95708"]]},{"id":"74b4b753.014db","type":"function","z":"4d69d9c.a75d2a8","name":"","func":"var jsonstr = msg.payload;\nmsg.payload={};\nnode.error(jsonstr);\nmsg.payload = JSON.parse(jsonstr);\n\nvar globalContext = global;\nmsg.payload.username = globalContext.get(\"username\");\nmsg.payload.password = globalContext.get(\"password\");\nmsg.payload.oauth_authorize_url = globalContext.get(\"oauth_authorize_url\");\nmsg.payload.client_id = globalContext.get(\"client_id\");\n\nmsg.url = msg.payload.oauth_authorize_url;\n\nmsg.headers={}\nmsg.headers['Content-Type']= 'application/x-www-form-urlencoded';\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":180,"wires":[["b8b7d9bd.db479"]]},{"id":"f31064eb.ff1f5","type":"http response","z":"4d69d9c.a75d2a8","name":"","statusCode":"","headers":{},"x":1050,"y":180,"wires":[]},{"id":"b8b7d9bd.db479","type":"http request","z":"4d69d9c.a75d2a8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":830,"y":180,"wires":[["f31064eb.ff1f5"]]},{"id":"3dcb01d7.e006f6","type":"function","z":"4d69d9c.a75d2a8","name":"GetGlobal","func":"msg.payload={}\nvar globalContext = global;\nmsg.payload.node_red_url = globalContext.get(\"node_red_url\");\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":60,"wires":[["e9e0f374.b03df"]]},{"id":"25bdf215.fedc1e","type":"http in","z":"4d69d9c.a75d2a8","name":"Configure OAUTH urls","url":"/configureui","method":"get","upload":false,"swaggerDoc":"","x":120,"y":960,"wires":[["d43564a1.b2a4d8"]]},{"id":"d43564a1.b2a4d8","type":"template","z":"4d69d9c.a75d2a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->\n<title>Code Bank | Configuration</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link\n\thref=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\"\n\trel=\"stylesheet\">\n<script src=\"https://code.jquery.com/jquery-1.11.1.min.js\"></script>\n<script\n\tsrc=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js\"></script>\n</head>\n\n<body class=\"bg\">\n\n\t<nav\n\t\tclass=\"navbar special-card navbar-expand-lg navbar-light bg-light navbar-laravel\">\n\t\t<div class=\"container\">\n\t\t\t<a class=\"navbar-brand\" href=\"#\">Configure OAuth URLs </a>\n\t\t\t<button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\"\n\t\t\t\tdata-target=\"#navbarSupportedContent\"\n\t\t\t\taria-controls=\"navbarSupportedContent\" aria-expanded=\"false\"\n\t\t\t\taria-label=\"Toggle navigation\">\n\t\t\t\t<span class=\"navbar-toggler-icon\"></span>\n\t\t\t</button>\n\n\t\t\t<div class=\"collapse navbar-collapse\" id=\"navbarSupportedContent\">\n\t\t\t\t<ul class=\"navbar-nav ml-auto\">\n\t\t\t\t\t<li class=\"nav-item\"><a class=\"nav-link\" href=\"#\">Login</a></li>\n\t\t\t\t</ul>\n\n\t\t\t</div>\n\t\t</div>\n\t</nav>\n\n\t<main class=\"login-form\">\n\t<div class=\"cotainer\">\n\t\t<div class=\"row justify-content-center\">\n\t\t\t<div class=\"col-md-4\">\n\t\t\t\t<div class=\"card special-card\">\n\t\t\t\t\t<div class=\"card-header\" align=\"center\">OAuth2 Configuration</div>\n\t\t\t\t\t<div class=\"card-body\">\n\t\t\t\t\t\t<form action=\"configure\" method=\"POST\">\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"authorize_url\"\n\t\t\t\t\t\t\t\t\tclass=\"col-md-4 col-form-label text-md-right\">Authorize\n\t\t\t\t\t\t\t\t\tURL</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_username\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"authorize_url\" required autofocus>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"token_url\"\n\t\t\t\t\t\t\t\t\tclass=\"col-md-4 col-form-label text-md-right\">Token URL</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_token_url\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"token_url\" required>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"redirect_url\"\n\t\t\t\t\t\t\t\t\tclass=\"col-md-4 col-form-label text-md-right\">Redirect\n\t\t\t\t\t\t\t\t\tURL</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_redirect_url\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"redirect_url\" required>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"node_red_base_url\"\n\t\t\t\t\t\t\t\t\tclass=\"col-md-4 col-form-label text-md-right\">Node-RED\n\t\t\t\t\t\t\t\t\tBase URL</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_base_url\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"node_red_base_url\" required>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"client_id\"\n\t\t\t\t\t\t\t\t\tclass=\"col-md-4 col-form-label text-md-right\">App\n\t\t\t\t\t\t\t\t\tClient ID</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_client_id\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"client_id\" required>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"transfer_url\"\n\t\t\t\t\t\t\t\t\tclass=\"col-md-4 col-form-label text-md-right\">Funds\n\t\t\t\t\t\t\t\t\tTransfer URL</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_transfer_url\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"transfer_url\" required>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t<div class=\"col-md-6 offset-md-4\">\n\t\t\t\t\t\t\t\t<button type=\"submit\" class=\"btn btn-primary\">\n\t\t\t\t\t\t\t\t\tConfigure Application</button>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t</form>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n\t</main>\n\n</body>\n</html>\n\n","output":"str","x":420,"y":960,"wires":[["5b126b9d.b6ca74"]]},{"id":"5b126b9d.b6ca74","type":"http response","z":"4d69d9c.a75d2a8","name":"","statusCode":"","headers":{},"x":710,"y":960,"wires":[]},{"id":"fa74aaff.610118","type":"http in","z":"4d69d9c.a75d2a8","name":"Apply Configuration","url":"/configure","method":"post","upload":false,"swaggerDoc":"","x":110,"y":1040,"wires":[["62b72439.c4ac74","6b42e7df.bcfa1"]]},{"id":"62b72439.c4ac74","type":"function","z":"4d69d9c.a75d2a8","name":"SetGlobal","func":"var node_red_url = msg.payload.node_red_base_url;\nvar oauth_authorize_url = msg.payload.authorize_url;\nvar oauth_token_url = msg.payload.token_url;\nvar redirect_url = msg.payload.redirect_url;\nvar client_id = msg.payload.client_id;\nvar transfer_url = msg.payload.transfer_url;\n\nvar globalContext = global;\nglobalContext.set(\"node_red_url\",node_red_url);\nglobalContext.set(\"oauth_authorize_url\",oauth_authorize_url);\nglobalContext.set(\"oauth_token_url\", oauth_token_url);\nglobalContext.set(\"redirect_url\", redirect_url);\nglobalContext.set(\"client_id\", client_id);\nglobalContext.set(\"transfer_url\", transfer_url);\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1040,"wires":[["e89851e5.2b115"]]},{"id":"e89851e5.2b115","type":"template","z":"4d69d9c.a75d2a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        Applied configuration successfully. Please wait...\n        <script>\n              function redirect(url) {\n\t                \twindow.location = url;\n            \t}\n              setTimeout(redirect(\"{{{payload.node_red_url}}}/login\"), 1000)\n        </script>\n    </body>\n</html>","output":"str","x":580,"y":1040,"wires":[["674b04d2.07d83c"]]},{"id":"674b04d2.07d83c","type":"http response","z":"4d69d9c.a75d2a8","name":"","statusCode":"200","headers":{},"x":800,"y":1040,"wires":[]},{"id":"6b42e7df.bcfa1","type":"debug","z":"4d69d9c.a75d2a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":1120,"wires":[]},{"id":"9af3fa73.a733b","type":"template","z":"4d69d9c.a75d2a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response_type\":\"code\",\"client_id\":\"{{{payload.client_id}}}\",\"scope\":\"funds_transfer\",\"redirect_uri\":\"{{{payload.redirect_url}}}\",\"original-url\":\"{{{payload.oauth_authorize_url}}}?response_type=code&client_id={{{payload.client_id}}}&redirect_uri={{{payload.redirect_url}}}&scope=funds_transfer\",\"apim-source\":\"html-login\"}","output":"str","x":420,"y":180,"wires":[["74b4b753.014db"]]},{"id":"febf227e.d95708","type":"function","z":"4d69d9c.a75d2a8","name":"GetGlobal","func":"var globalContext = global;\nglobalContext.set(\"username\",msg.payload.username);\nglobalContext.set(\"password\",msg.payload.password);\nmsg.payload.oauth_authorize_url = globalContext.get(\"oauth_authorize_url\");\nmsg.payload.redirect_url = globalContext.get(\"redirect_url\");\nmsg.payload.client_id = globalContext.get(\"client_id\");\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":180,"wires":[["9af3fa73.a733b"]]},{"id":"294123d6.babf9c","type":"function","z":"4d69d9c.a75d2a8","name":"GetGlobal","func":"var globalContext = global;\nglobalContext.set(\"username\",msg.payload.username);\nglobalContext.set(\"password\",msg.payload.password);\nmsg.payload.node_red_url = globalContext.get(\"node_red_url\");\nmsg.payload.oauth_authorize_url = globalContext.get(\"oauth_authorize_url\");\nmsg.payload.oauth_token_url = globalContext.get(\"oauth_token_url\");\nmsg.payload.redirect_url = globalContext.get(\"redirect_url\");\nmsg.payload.client_id = globalContext.get(\"client_id\");\nnode.error(globalContext);\nnode.error(globalContext.get(\"oauth_token_url\"));\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":500,"wires":[["98e818e6.366f48"]]},{"id":"67e4b5b5.4b1c2c","type":"function","z":"4d69d9c.a75d2a8","name":"GetGlobal","func":"var globalContext = global;\nglobalContext.set(\"username\",msg.payload.username);\nglobalContext.set(\"password\",msg.payload.password);\nmsg.payload.node_red_url = globalContext.get(\"node_red_url\");\nmsg.payload.oauth_authorize_url = globalContext.get(\"oauth_authorize_url\");\nmsg.payload.oauth_token_url = globalContext.get(\"oauth_token_url\");\nmsg.payload.redirect_url = globalContext.get(\"redirect_url\");\nmsg.payload.client_id = globalContext.get(\"client_id\");\nnode.error(globalContext);\nnode.error(globalContext.get(\"oauth_token_url\"));\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":400,"wires":[["2fb5a73e.134dc"]]},{"id":"25f0303e.21f9f8","type":"comment","z":"4d69d9c.a75d2a8","name":"The below flow renders login page","info":"","x":160,"y":20,"wires":[]},{"id":"b7438d0d.965dc","type":"comment","z":"4d69d9c.a75d2a8","name":"The below flow invokes authorize endpoint on API Connect","info":"","x":230,"y":140,"wires":[]},{"id":"adebb574.ede45","type":"comment","z":"4d69d9c.a75d2a8","name":"The below flow renders the menu page","info":"","x":170,"y":240,"wires":[]},{"id":"8d748369.8075","type":"comment","z":"4d69d9c.a75d2a8","name":"The below flow invokes the funds transfer endpoint on API Connect","info":"","x":260,"y":360,"wires":[]},{"id":"27efd130.9ab456","type":"comment","z":"4d69d9c.a75d2a8","name":"The below flow renders the Funds Transfer UI page","info":"","x":211,"y":458,"wires":[]},{"id":"e42c2456.256558","type":"comment","z":"4d69d9c.a75d2a8","name":"The below flow returns the CSS style sheet","info":"","x":180,"y":580,"wires":[]},{"id":"726e55c1.a35974","type":"comment","z":"4d69d9c.a75d2a8","name":"The below endpoint is the Redirect URI for OAuth","info":"","x":200,"y":740,"wires":[]},{"id":"b83e32d2.f2171","type":"comment","z":"4d69d9c.a75d2a8","name":"The below flow renders application configuration page","info":"","x":220,"y":920,"wires":[]},{"id":"a33afc78.d7d868","type":"comment","z":"4d69d9c.a75d2a8","name":"The below flow stores the application configuration on global context","info":"","x":270,"y":1000,"wires":[]}]