client-app/node-red-flows/flows.json
[{"id":"a19d82f2.3be3f8","type":"http in","z":"9fe22756.df803","name":"","url":"client","method":"get","upload":false,"swaggerDoc":"","x":100,"y":820,"wires":[["d64dda9a.d7a2d"]]},{"id":"c85eb9c.ce9d148","type":"http request","z":"9fe22756.df803","name":"Get token","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":480,"y":820,"wires":[["32268ed9.cf47f2"]]},{"id":"d64dda9a.d7a2d","type":"function","z":"9fe22756.df803","name":"","func":"var globalContext = global;\n\nmsg.url=globalContext.get(\"oauth_token_url\");\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/x-www-form-urlencoded';\nmsg.payload.grant_type='authorization_code';\nmsg.payload.redirect_uri=globalContext.get(\"redirect_url\");\nmsg.payload.client_id=globalContext.get(\"client_id\");\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":820,"wires":[["c85eb9c.ce9d148"]]},{"id":"32268ed9.cf47f2","type":"function","z":"9fe22756.df803","name":"","func":"var jsonobj = JSON.parse(msg.payload)\nnode.error(jsonobj.access_token);\nvar globalContext = global;\nglobalContext.set(\"access_token\",jsonobj.access_token);\nmsg.payload={};\nmsg.payload.url=globalContext.get(\"node_red_url\")+\"/menus\";\nmsg.payload.token = jsonobj.access_token;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":820,"wires":[["f50fa0cd.4e392"]]},{"id":"78d7c4d9.4b2384","type":"template","z":"9fe22756.df803","name":"Login","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->\n<title>Code Bank | Login</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link\n\thref=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\"\n\trel=\"stylesheet\">\n<link rel=\"stylesheet\" href=\"{{{payload.node_red_url}}}/style.css\">\n<script src=\"https://code.jquery.com/jquery-1.11.1.min.js\"></script>\n<script\n\tsrc=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js\"></script>\n</head>\n\n<body class=\"bg\">\n\n\t<nav\n\t\tclass=\"navbar special-card navbar-expand-lg navbar-light bg-light navbar-laravel\">\n\t\t<div class=\"container\">\n\t\t\t<a class=\"navbar-brand\" href=\"#\">Code Bank </a>\n\t\t\t<button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\"\n\t\t\t\tdata-target=\"#navbarSupportedContent\"\n\t\t\t\taria-controls=\"navbarSupportedContent\" aria-expanded=\"false\"\n\t\t\t\taria-label=\"Toggle navigation\">\n\t\t\t\t<span class=\"navbar-toggler-icon\"></span>\n\t\t\t</button>\n\n\t\t\t<div class=\"collapse navbar-collapse\" id=\"navbarSupportedContent\">\n\t\t\t\t<ul class=\"navbar-nav ml-auto\">\n\t\t\t\t\t<li class=\"nav-item\"><a class=\"nav-link\" href=\"#\">Login</a></li>\n\t\t\t\t</ul>\n\n\t\t\t</div>\n\t\t</div>\n\t</nav>\n\n\t<main class=\"login-form\">\n\t<div class=\"cotainer\">\n\t\t<div class=\"row justify-content-center\">\n\t\t\t<div class=\"col-md-4\">\n\t\t\t\t<div class=\"card special-card\">\n\t\t\t\t\t<div class=\"card-header\" align=\"center\">Login</div>\n\t\t\t\t\t<div class=\"card-body\">\n\t\t\t\t\t\t<form action=\"authorize\" method=\"POST\">\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"username\"\n\t\t\t\t\t\t\t\t\tclass=\"col-md-4 col-form-label text-md-right\">Username</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_username\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"username\" required autofocus>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"password\"\n\t\t\t\t\t\t\t\t\tclass=\"col-md-4 col-form-label text-md-right\">Password</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"password\" id=\"input_password\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"password\" required>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t<div class=\"col-md-6 offset-md-4\">\n\t\t\t\t\t\t\t\t<button type=\"submit\" class=\"btn btn-primary\">Login</button>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t</form>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n\t</main>\n\n</body>\n</html>\n\n","output":"str","x":550,"y":80,"wires":[["b114f072.f7aea8"]]},{"id":"2d013468.e639f4","type":"http in","z":"9fe22756.df803","name":"","url":"login","method":"get","upload":false,"swaggerDoc":"","x":100,"y":80,"wires":[["6cfc83be.100ae4"]]},{"id":"b114f072.f7aea8","type":"http response","z":"9fe22756.df803","name":"","statusCode":"","headers":{},"x":770,"y":80,"wires":[]},{"id":"b02b634f.753f7","type":"http in","z":"9fe22756.df803","name":"","url":"menus","method":"get","upload":false,"swaggerDoc":"","x":110,"y":320,"wires":[["1fffc0b7.21d20f"]]},{"id":"2aa72d61.a2abd2","type":"http response","z":"9fe22756.df803","name":"","statusCode":"","headers":{},"x":550,"y":320,"wires":[]},{"id":"1fffc0b7.21d20f","type":"template","z":"9fe22756.df803","name":"Menus","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->\n<title>Code Bank | Menu</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link\n\thref=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\"\n\trel=\"stylesheet\">\n<link rel=\"stylesheet\" href=\"{{{payload.node_red_url}}}/style.css\">\n<script src=\"https://code.jquery.com/jquery-1.11.1.min.js\"></script>\n<script\n\tsrc=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js\"></script>\n</head>\n\n<body class=\"bg\">\n\n\t<nav\n\t\tclass=\"navbar special-card navbar-expand-lg navbar-light bg-light navbar-laravel\">\n\t\t<div class=\"container\">\n\t\t\t<a class=\"navbar-brand\" href=\"#\">Code Bank</a>\n\t\t\t<button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\"\n\t\t\t\tdata-target=\"#navbarSupportedContent\"\n\t\t\t\taria-controls=\"navbarSupportedContent\" aria-expanded=\"false\"\n\t\t\t\taria-label=\"Toggle navigation\">\n\t\t\t\t<span class=\"navbar-toggler-icon\"></span>\n\t\t\t</button>\n\n\t\t\t<div class=\"collapse navbar-collapse\" id=\"navbarSupportedContent\">\n\t\t\t\t<ul class=\"navbar-nav ml-auto\">\n\t\t\t\t\t<li class=\"nav-item\"><a class=\"nav-link\" href=\"menus\">Home</a>\n\t\t\t\t\t</li>\n\t\t\t\t\t<li class=\"nav-item\"><a class=\"nav-link\" href=\"login\">Logout</a>\n\t\t\t\t\t</li>\n\t\t\t\t</ul>\n\n\t\t\t</div>\n\t\t</div>\n\t</nav>\n\n\t<main class=\"login-form\">\n\t<div class=\"cotainer\">\n\t\t<div class=\"row justify-content-center\">\n\t\t\t<div class=\"col-md-3.5\">\n\t\t\t\t<div class=\"card special-card\">\n\t\t\t\t\t<div class=\"card-header\">What do you wish to do today?</div>\n\t\t\t\t\t<div class=\"card-body\">\n\t\t\t\t\t\t<div id='cssmenu'>\n\t\t\t\t\t\t\t<ul>\n\t\t\t\t\t\t\t\t<li><a href='transferui'><span>Transfer Funds to\n\t\t\t\t\t\t\t\t\t\t\tanother account</span></a></li>\n\t\t\t\t\t\t\t\t<li class='last'><a href='login'><span>Logout</span></a></li>\n\t\t\t\t\t\t\t</ul>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n\n\t</main>\n</body>\n</html>","output":"str","x":330,"y":320,"wires":[["2aa72d61.a2abd2"]]},{"id":"c0a1015f.129da8","type":"http response","z":"9fe22756.df803","name":"","statusCode":"","headers":{},"x":1130,"y":820,"wires":[]},{"id":"b6e17825.b940a8","type":"http in","z":"9fe22756.df803","name":"","url":"transfer","method":"post","upload":false,"swaggerDoc":"","x":120,"y":420,"wires":[["11028e87.8448f1"]]},{"id":"c7e1b3a2.bda6d","type":"function","z":"9fe22756.df803","name":"","func":"//msg.url = 'https://api.au-syd.apiconnect.appdomain.cloud/bkadambiinibmcom-bala/sb/Z1ZFXl/Fund_Transfer';\n\nmsg.headers = {};\nmsg.headers['X-IBM-Client-Id']= msg.payload.client_id;\nvar globalContext = global;\nnode.error(msg.payload.inputaccesstoken);\nmsg.headers['Authorization']= 'Bearer '+msg.payload.inputaccesstoken;\nmsg.url = globalContext.get(\"transfer_url\");\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":420,"wires":[["5d96355e.6c999c"]]},{"id":"5d96355e.6c999c","type":"http request","z":"9fe22756.df803","name":"Transfer funds","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":620,"y":420,"wires":[["2559071d.edb77"]]},{"id":"86bbbfac.a647b8","type":"http response","z":"9fe22756.df803","name":"","statusCode":"","headers":{},"x":1290,"y":420,"wires":[]},{"id":"752dd7d4.5b16c","type":"http in","z":"9fe22756.df803","name":"","url":"transferui","method":"get","upload":false,"swaggerDoc":"","x":120,"y":520,"wires":[["bac13552.abb568"]]},{"id":"4554c9b0.78e7b","type":"template","z":"9fe22756.df803","name":"Funds Transfer UI","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->\n<title>Code Bank | Transfer Funds</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link\n\thref=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\"\n\trel=\"stylesheet\">\n<link rel=\"stylesheet\"\n\thref=\"{{{payload.node_red_url}}}/style.css\">\n<script src=\"https://code.jquery.com/jquery-1.11.1.min.js\"></script>\n<script\n\tsrc=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js\"></script>\n<script>\n\tfunction redirect(url) {\n\t\twindow.location = url;\n\t}\n\tfunction setCookie(cname, cvalue, exdays) {\n\t\tvar d = new Date();\n\t\td.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));\n\t\tvar expires = \"expires=\" + d.toUTCString();\n\t\tdocument.cookie = cname + \"=\" + cvalue + \";\" + expires + \";path=/\";\n\t}\n\n\tfunction getCookie(cname) {\n\t\tvar name = cname + \"=\";\n\t\tvar ca = document.cookie.split(';');\n\t\tfor (var i = 0; i < ca.length; i++) {\n\t\t\tvar c = ca[i];\n\t\t\twhile (c.charAt(0) == ' ') {\n\t\t\t\tc = c.substring(1);\n\t\t\t}\n\t\t\tif (c.indexOf(name) == 0) {\n\t\t\t\treturn c.substring(name.length, c.length);\n\t\t\t}\n\t\t}\n\t\treturn \"\";\n\t}\n\n\tfunction checkCookie(cname) {\n\t\tvar token = getCookie(cname);\n\t\tif (token != \"\") {\n\t\t\talert(\"Welcome again \");\n\t\t} else {\n\t\t\talert(\"Session expired. Login again\");\n\t\t\tredirect(\"login\");\n\t\t}\n\t}\n</script>\n\n</head>\n<body class=\"bg\">\n\t<nav\n\t\tclass=\"navbar special-card navbar-expand-lg navbar-light bg-light navbar-laravel\">\n\t\t<div class=\"container\">\n\t\t\t<a class=\"navbar-brand\" href=\"#\">Code Bank</a>\n\t\t\t<button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\"\n\t\t\t\tdata-target=\"#navbarSupportedContent\"\n\t\t\t\taria-controls=\"navbarSupportedContent\" aria-expanded=\"false\"\n\t\t\t\taria-label=\"Toggle navigation\">\n\t\t\t\t<span class=\"navbar-toggler-icon\"></span>\n\t\t\t</button>\n\n\t\t\t<div class=\"collapse navbar-collapse\" id=\"navbarSupportedContent\">\n\t\t\t\t<ul class=\"navbar-nav ml-auto\">\n\t\t\t\t\t<li class=\"nav-item\"><a class=\"nav-link\" href=\"menus\">Home</a>\n\t\t\t\t\t</li>\n\t\t\t\t\t<li class=\"nav-item\"><a class=\"nav-link\" href=\"login\">Logout</a>\n\t\t\t\t\t</li>\n\t\t\t\t</ul>\n\n\t\t\t</div>\n\t\t</div>\n\t</nav>\n\n\t<main class=\"login-form\">\n\t<div class=\"cotainer\">\n\t\t<div class=\"row justify-content-center\">\n\t\t\t<div class=\"col-md-6\">\n\t\t\t\t<div class=\"card special-card bg-light\">\n\t\t\t\t\t<div class=\"card-header\" align=\"center\">Transfer Funds</div>\n\t\t\t\t\t<div class=\"card-body\">\n\t\t\t\t\t\t<form action=\"transfer\"\n\t\t\t\t\t\t\tmethod=\"POST\">\n\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label class=\"col-md-4 col-form-label text-md-right\">Source\n\t\t\t\t\t\t\t\t\tA/C Number :</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_source_account_num\"\n\t\t\t\t\t\t\t\t\t\tclass=\"form-control\" name=\"source_accountID\" required\n\t\t\t\t\t\t\t\t\t\tautofocus>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label class=\"col-md-4 col-form-label text-md-right\">Target\n\t\t\t\t\t\t\t\t\tA/C Number :</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_target_account_num\"\n\t\t\t\t\t\t\t\t\t\tclass=\"form-control\" name=\"target_accountID\" required\n\t\t\t\t\t\t\t\t\t\tautofocus>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label class=\"col-md-4 col-form-label text-md-right\">Amount\n\t\t\t\t\t\t\t\t\tto Transfer :</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_amount\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"amount_to_transfer\" required autofocus>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t<input type=\"hidden\" id=\"accesstoken\" name=\"inputaccesstoken\"\n\t\t\t\t\t\t\t\t\tvalue=\"null\" />\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label class=\"col-md-4 col-form-label text-md-right\">Transfer Type :</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_transfer_type\"\n\t\t\t\t\t\t\t\t\t\tclass=\"form-control\" name=\"transfer_type\" \n\t\t\t\t\t\t\t\t\t\trequired\n\t\t\t\t\t\t\t\t\t\tautofocus>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label class=\"col-md-4 col-form-label text-md-right\">Remarks\n\t\t\t\t\t\t\t\t\t :</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_remarks\"\n\t\t\t\t\t\t\t\t\t\tclass=\"form-control\" name=\"remarks\" required\n\t\t\t\t\t\t\t\t\t\tautofocus>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"col-md-6 offset-md-4\">\n\t\t\t\t\t\t\t\t<button type=\"submit\" class=\"btn btn-primary\">Transfer\n\t\t\t\t\t\t\t\t</button>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</form>\n\t\t\t\t\t</div>\n\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n\n\t</main>\n\n\t<script>\n\t\tvar token = getCookie(\"token\");\n\t\tif (token != \"\") {\n\t\t\tvar tokenElem = document.getElementById(\"accesstoken\");\n\t\t\ttokenElem.value = token;\n\t\t} else {\n\t\t\talert(\"Session expired. Login again\");\n\t\t\tredirect(\"login\");\n\t\t}\n\t</script>\n\n\n</body>\n</html>\n","output":"str","x":510,"y":520,"wires":[["7ae071d2.4a9b6"]]},{"id":"7ae071d2.4a9b6","type":"http response","z":"9fe22756.df803","name":"","statusCode":"","headers":{},"x":750,"y":520,"wires":[]},{"id":"8c80725e.f0032","type":"template","z":"9fe22756.df803","name":"Transaction Summary Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\">\n    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->\n    <title>Code Bank | Summary</title>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <link rel=\"stylesheet\" href=\"{{{payload.node_red_url}}}/style.css\">\n    <script src=\"https://code.jquery.com/jquery-1.11.1.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js\"></script>\n</head>\n<body class=\"bg\">\n<nav class=\"navbar special-card navbar-expand-lg navbar-light bg-light navbar-laravel\">\n    <div class=\"container\">\n        <a class=\"navbar-brand\" href=\"#\">Code Bank</a>\n        <button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\" data-target=\"#navbarSupportedContent\" aria-controls=\"navbarSupportedContent\" aria-expanded=\"false\" aria-label=\"Toggle navigation\">\n            <span class=\"navbar-toggler-icon\"></span>\n        </button>\n\n        <div class=\"collapse navbar-collapse\" id=\"navbarSupportedContent\">\n            <ul class=\"navbar-nav ml-auto\">\n                 <li class=\"nav-item\">\n                    <a class=\"nav-link\" href=\"menus\">Home</a>\n                </li>\n                <li class=\"nav-item\">\n                    <a class=\"nav-link\" href=\"login\">Logout</a>\n                </li>\n            </ul>\n\n        </div>\n    </div>\n</nav>\n\n<main class=\"login-form\">\n    <div class=\"cotainer\">\n        <div class=\"row justify-content-center\">\n            <div class=\"col-md-4\">\n                <div class=\"card special-card\">\n                    <div class=\"card-header\" align=\"center\">Transaction Summary</div>\n                    <div class=\"card-body\">\n                        <form action=\"\" method=\"\">\n                            \n                            <div class=\"form-group row\">\n                                <label  class=\"col-md-4 col-form-label text-md-right\">Request Number :</label>\n                                    <label  class=\"col-md-8 col-form-label text-md-left\">{{{payload.request_no}}}</label>\n                            </div>\n                            <div class=\"form-group row\">\n                                <label  class=\"col-md-4 col-form-label text-md-right\">Transaction ID :</label>\n                                 <label  class=\"col-md-8 col-form-label text-md-left\">{{{payload.transactionID}}}</label>\n                            </div>\n                            <div class=\"form-group row\">\n                                <label  class=\"col-md-4 col-form-label text-md-right\">Response message :</label>\n                                 <label  class=\"col-md-8 col-form-label text-md-left\">{{{payload.responseMsg}}}</label>\n                            </div>\n                            </form>\n                    </div>\n                </div>\n            </div>\n        </div>\n    </div>\n\n</main>\n</body>\n</html>\n","output":"str","x":1060,"y":420,"wires":[["86bbbfac.a647b8"]]},{"id":"2559071d.edb77","type":"function","z":"9fe22756.df803","name":"","func":"var jsonobj = JSON.parse(msg.payload);\nmsg.payload = {};\nmsg.payload = jsonobj;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":420,"wires":[["8c80725e.f0032"]]},{"id":"f50fa0cd.4e392","type":"template","z":"9fe22756.df803","name":"Redirect to Menu","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\">\n    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->\n    <title>Code Bank | Authentication Successful!</title>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <link rel=\"stylesheet\" href=\"{{{payload.node_red_url}}}/style.css\">\n    <script src=\"https://code.jquery.com/jquery-1.11.1.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js\"></script>\n    <script>\n\tfunction redirect(url) {\n\t\twindow.location = url;\n\t}\n\tfunction setCookie(cname, cvalue, exdays) {\n\t\tvar d = new Date();\n\t\td.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));\n\t\tvar expires = \"expires=\" + d.toUTCString();\n\t\tdocument.cookie = cname + \"=\" + cvalue + \";\" + expires + \";path=/\" + \";domain=client-app-bk.au-syd.mybluemix.net;secure\";\n\t}\n\n\tfunction getCookie(cname) {\n\t\tvar name = cname + \"=\";\n\t\tvar ca = document.cookie.split(';');\n\t\tfor (var i = 0; i < ca.length; i++) {\n\t\t\tvar c = ca[i];\n\t\t\twhile (c.charAt(0) == ' ') {\n\t\t\t\tc = c.substring(1);\n\t\t\t}\n\t\t\tif (c.indexOf(name) == 0) {\n\t\t\t\treturn c.substring(name.length, c.length);\n\t\t\t}\n\t\t}\n\t\treturn \"\";\n\t}\n\n\tsetCookie(\"token\", \"{{{payload.token}}}\", 1);\n</script>\n    \n</head>\n<body class=\"bg\">\n<nav class=\"navbar special-card navbar-expand-lg navbar-light bg-light navbar-laravel\">\n    <div class=\"container\">\n        <a class=\"navbar-brand\" href=\"#\">Code Bank</a>\n        <button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\" data-target=\"#navbarSupportedContent\" aria-controls=\"navbarSupportedContent\" aria-expanded=\"false\" aria-label=\"Toggle navigation\">\n            <span class=\"navbar-toggler-icon\"></span>\n        </button>\n\n        <div class=\"collapse navbar-collapse\" id=\"navbarSupportedContent\">\n            <ul class=\"navbar-nav ml-auto\">\n                 <li class=\"nav-item\">\n                    <a class=\"nav-link\" href=\"menus\">Home</a>\n                </li>\n                <li class=\"nav-item\">\n                    <a class=\"nav-link\" href=\"login\">Logout</a>\n                </li>\n            </ul>\n\n        </div>\n    </div>\n</nav>\n\n<main class=\"login-form\">\n    <div class=\"cotainer\">\n        <div class=\"row justify-content-center\">\n            <div class=\"col-md-4\">\n                <div class=\"card special-card\">\n                    <div class=\"card-header\" align=\"center\">Authentication was successful.</div>\n                    <div class=\"card-body\">\n                      Got OAuth token and storing it in a cookie - {{{payload.token}}}.\n                      <div>\n                         Redirecting to menu options....\n                      </div>\n                    </div>\n                    \n                </div>\n            </div>\n        </div>\n    </div>\n\n</main>\n<script>\nsetTimeout(redirect(\"{{{payload.url}}}\"), 3000);\n</script>\n</body>\n</html>\n","output":"str","x":830,"y":820,"wires":[["c0a1015f.129da8"]]},{"id":"64220f55.52be6","type":"http in","z":"9fe22756.df803","name":"","url":"style.css","method":"get","upload":false,"swaggerDoc":"","x":110,"y":660,"wires":[["4513e1a6.ddda2"]]},{"id":"4513e1a6.ddda2","type":"template","z":"9fe22756.df803","name":"Styles","field":"payload","fieldType":"msg","format":"css","syntax":"plain","template":"/* Starter CSS for Flyout Menu */\n        \nbody, html {\n  height: 100%;\n}\n.bg {\n\n  /* Full height */\n  height: 100%;\n\n  /* Center and scale the image nicely */\n  background-position: center;\n  background-repeat: no-repeat;\n  background-size: cover;\n}\n\n.navbar-laravel\n{\n    box-shadow: 0 2px 4px rgba(0,0,0,.8);\n}\n\n.navbar-brand , .nav-link, .my-form, .login-form\n{\n    font-family: Raleway, sans-serif;\n}\n\n.my-form\n{\n    padding-top: 1.5rem;\n    padding-bottom: 1.5rem;\n}\n.special-card {\n  opacity: .7;\n}\n\n.transp {\n    box-shadow: 0 2px 4px rgba(0,0,0,.04);\n}\n\n.my-form .row\n{\n    margin-left: 0;\n    margin-right: 0;\n}\n\n.login-form\n{\n    padding-top: 12rem;\n    padding-bottom: 1.5rem;\n}\n\n.login-form .row\n{\n    margin-left: 0;\n    margin-right: 0;\n}\n\n#cssmenu {\n  padding: 0;\n  margin: 0;\n  border: 0;\n}\n#cssmenu ul,\nli {\n  list-style: none;\n  margin: 0;\n  padding: 0;\n}\n#cssmenu ul {\n  position: relative;\n  z-index: 597;\n  float: left;\n}\n#cssmenu ul li {\n  float: left;\n  min-height: 1px;\n  line-height: 1em;\n  vertical-align: middle;\n}\n#cssmenu ul li.hover,\n#cssmenu ul li:hover {\n  position: relative;\n  z-index: 599;\n  cursor: default;\n}\n#cssmenu ul ul {\n  visibility: hidden;\n  position: absolute;\n  top: 100%;\n  left: 0;\n  z-index: 598;\n  width: 100%;\n}\n#cssmenu ul ul li {\n  float: none;\n}\n#cssmenu ul li:hover > ul {\n  visibility: visible;\n}\n#cssmenu ul ul {\n  top: 0;\n  left: 100%;\n}\n#cssmenu ul li {\n  float: none;\n}\n/* Custom Stuff */\n#cssmenu span,\n#cssmenu a {\n  display: inline-block;\n  font-family: Arial, Helvetica, sans-serif;\n  font-size: 12px;\n  text-decoration: none;\n}\n#cssmenu {\n  -moz-border-radius: 5px;\n  -webkit-border-radius: 5px;\n  border-radius: 5px;\n  -moz-background-clip: padding;\n  -webkit-background-clip: padding-box;\n  background-clip: padding-box;\n  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);\n  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);\n  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);\n  font-weight: 600;\n  width: 200px;\n}\n#cssmenu:after,\n#cssmenu ul:after {\n  content: '';\n  display: block;\n  clear: both;\n}\n#cssmenu > ul > li:first-child {\n  -moz-border-radius: 5px 5px 0 0;\n  -webkit-border-radius: 5px 5px 0 0;\n  border-radius: 5px 5px 0 0;\n  -moz-background-clip: padding;\n  -webkit-background-clip: padding-box;\n  background-clip: padding-box;\n}\n#cssmenu > ul > li:last-child {\n  -moz-border-radius: 0 0 5px 5px;\n  -webkit-border-radius: 0 0 5px 5px;\n  border-radius: 0 0 5px 5px;\n  -moz-background-clip: padding;\n  -webkit-background-clip: padding-box;\n  background-clip: padding-box;\n}\n#cssmenu > ul > li ul ul li:first-child {\n  -moz-border-radius: 0 5px 0 0;\n  -webkit-border-radius: 0 5px 0 0;\n  border-radius: 0 5px 0 0;\n  -moz-background-clip: padding;\n  -webkit-background-clip: padding-box;\n  background-clip: padding-box;\n}\n#cssmenu > ul > li ul ul li:last-child {\n  -moz-border-radius: 0 0 5px 0;\n  -webkit-border-radius: 0 0 5px 0;\n  border-radius: 0 0 5px 0;\n  -moz-background-clip: padding;\n  -webkit-background-clip: padding-box;\n  background-clip: padding-box;\n}\n#cssmenu ul,\n#cssmenu li {\n  width: 100%;\n}\n#cssmenu li {\n  background: #c0bebf url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA0CAMAAAB8fKKlAAAAmVBMVEXy7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7erx7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7eoO3g4TAAAAMnRSTlP8+fbz7+vn497Z1M/KxL+5s66oopuVj4mDfHZwamRdV1FMRkA7NTArJiEcGBQQDAkGA02z+X0AAABLSURBVHheDcGDEQMBAACwvFnbtrv/cO3F949AKBJLpDK5QqlSa2hqaevo6ukbGBoZm5iamVtYWlnb2NrZOzg6Obu4url7eHp5+/wAxikFLnlTZcYAAAAASUVORK5CYII=) repeat-x;\n  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f2edea), color-stop(1, #c0bebf));\n  background-image: -webkit-linear-gradient(top, #f2edea, #c0bebf);\n  background-image: -moz-linear-gradient(top, #f2edea, #c0bebf);\n  background-image: -ms-linear-gradient(top, #f2edea, #c0bebf);\n  background-image: -o-linear-gradient(top, #f2edea, #c0bebf);\n  background-image: linear-gradient(#f2edea, #c0bebf);\n}\n#cssmenu li:hover,\n#cssmenu li.active {\n  background: #606a76 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA0CAMAAAB8fKKlAAAAmVBMVEVKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmL///9KVmL3Z0MtAAAAMnRSTlP8+fby7+vm4t3Y087Iw723sauln5mTjIaAeXNsZmBaVE5IQjw3MSwnIh0ZFBANCQYDAAm6nKYAAABLSURBVHheDcGDEQMBAACwvFnbtrv/cO3F949AKBJLpDK5QqlSa2hqaevo6ukbGBoZm5iamVtYWlnb2NrZOzg6Obu4url7eHp5+/wAxikFLnlTZcYAAAAASUVORK5CYII=) repeat-x;\n  -moz-box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.15);\n  -webkit-box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.15);\n  box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.15);\n  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4a5662), color-stop(1, #606a76));\n  background-image: -webkit-linear-gradient(top, #4a5662, #606a76);\n  background-image: -moz-linear-gradient(top, #4a5662, #606a76);\n  background-image: -ms-linear-gradient(top, #4a5662, #606a76);\n  background-image: -o-linear-gradient(top, #4a5662, #606a76);\n  background-image: linear-gradient(#4a5662, #606a76);\n}\n#cssmenu li:hover > a,\n#cssmenu li.active > a {\n  color: #FFF;\n}\n#cssmenu a {\n  color: #666666;\n  line-height: 160%;\n  padding: 16px 8px 16px 28px;\n  width: 164px;\n}\n#cssmenu ul ul {\n  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);\n  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);\n  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);\n  width: 200px;\n}\n#cssmenu ul ul li {\n  background: #606a76;\n  border-bottom: 1px solid #59636F;\n  -moz-box-shadow: inset 0 1px 0 #66707c;\n  -webkit-box-shadow: inset 0 1px 0 #66707c;\n  box-shadow: inset 0 1px 0 #66707c;\n}\n#cssmenu ul ul li:hover {\n  background: #4a5662;\n}\n#cssmenu ul ul li a {\n  color: #FFF;\n}\n#cssmenu ul ul a,\n#cssmenu ul ul a span {\n  font-size: 12px;\n}\n\nbody{\n    margin: 0;\n    font-size: .9rem;\n    font-weight: 400;\n    line-height: 1.6;\n    color: #212529;\n    text-align: left;\n    background-color: #f5f8fa;\n}","output":"str","x":330,"y":660,"wires":[["51e72c01.c8419c"]]},{"id":"3b03058d.b777f2","type":"http response","z":"9fe22756.df803","name":"","statusCode":"","headers":{},"x":790,"y":660,"wires":[]},{"id":"51e72c01.c8419c","type":"function","z":"9fe22756.df803","name":"","func":"msg.headers = {};\nmsg.headers[\"Content-Type\"]=\"text/css\";\nmsg.headers[\"Accept\"]=\"text/css\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":660,"wires":[["3b03058d.b777f2"]]},{"id":"c4ab570c.4717d8","type":"http in","z":"9fe22756.df803","name":"","url":"/authorize","method":"post","upload":false,"swaggerDoc":"","x":120,"y":200,"wires":[["50db79be.e21d7"]]},{"id":"706db202.a0079c","type":"function","z":"9fe22756.df803","name":"","func":"var jsonstr = msg.payload;\nmsg.payload={};\nnode.error(jsonstr);\nmsg.payload = JSON.parse(jsonstr);\n\nvar globalContext = global;\nmsg.payload.username = globalContext.get(\"username\");\nmsg.payload.password = globalContext.get(\"password\");\nmsg.payload.oauth_authorize_url = globalContext.get(\"oauth_authorize_url\");\nmsg.payload.client_id = globalContext.get(\"client_id\");\n\nmsg.url = msg.payload.oauth_authorize_url;\n\nmsg.headers={}\nmsg.headers['Content-Type']= 'application/x-www-form-urlencoded';\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":200,"wires":[["27295590.bee0aa"]]},{"id":"11e41d4a.b93b3b","type":"http response","z":"9fe22756.df803","name":"","statusCode":"","headers":{},"x":1070,"y":200,"wires":[]},{"id":"27295590.bee0aa","type":"http request","z":"9fe22756.df803","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":850,"y":200,"wires":[["11e41d4a.b93b3b"]]},{"id":"6cfc83be.100ae4","type":"function","z":"9fe22756.df803","name":"GetGlobal","func":"msg.payload={}\nvar globalContext = global;\nmsg.payload.node_red_url = globalContext.get(\"node_red_url\");\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":80,"wires":[["78d7c4d9.4b2384"]]},{"id":"9ea4b4f4.2620a","type":"http in","z":"9fe22756.df803","name":"Configure OAUTH urls","url":"/configureui","method":"get","upload":false,"swaggerDoc":"","x":140,"y":980,"wires":[["91358ccc.24ade"]]},{"id":"91358ccc.24ade","type":"template","z":"9fe22756.df803","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->\n<title>Code Bank | Configuration</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link\n\thref=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\"\n\trel=\"stylesheet\">\n<script src=\"https://code.jquery.com/jquery-1.11.1.min.js\"></script>\n<script\n\tsrc=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js\"></script>\n</head>\n\n<body class=\"bg\">\n\n\t<nav\n\t\tclass=\"navbar special-card navbar-expand-lg navbar-light bg-light navbar-laravel\">\n\t\t<div class=\"container\">\n\t\t\t<a class=\"navbar-brand\" href=\"#\">Configure OAuth URLs </a>\n\t\t\t<button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\"\n\t\t\t\tdata-target=\"#navbarSupportedContent\"\n\t\t\t\taria-controls=\"navbarSupportedContent\" aria-expanded=\"false\"\n\t\t\t\taria-label=\"Toggle navigation\">\n\t\t\t\t<span class=\"navbar-toggler-icon\"></span>\n\t\t\t</button>\n\n\t\t\t<div class=\"collapse navbar-collapse\" id=\"navbarSupportedContent\">\n\t\t\t\t<ul class=\"navbar-nav ml-auto\">\n\t\t\t\t\t<li class=\"nav-item\"><a class=\"nav-link\" href=\"#\">Login</a></li>\n\t\t\t\t</ul>\n\n\t\t\t</div>\n\t\t</div>\n\t</nav>\n\n\t<main class=\"login-form\">\n\t<div class=\"cotainer\">\n\t\t<div class=\"row justify-content-center\">\n\t\t\t<div class=\"col-md-4\">\n\t\t\t\t<div class=\"card special-card\">\n\t\t\t\t\t<div class=\"card-header\" align=\"center\">OAuth2 Configuration</div>\n\t\t\t\t\t<div class=\"card-body\">\n\t\t\t\t\t\t<form action=\"configure\" method=\"POST\">\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"authorize_url\"\n\t\t\t\t\t\t\t\t\tclass=\"col-md-4 col-form-label text-md-right\">Authorize\n\t\t\t\t\t\t\t\t\tURL</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_username\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"authorize_url\" required autofocus>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"token_url\"\n\t\t\t\t\t\t\t\t\tclass=\"col-md-4 col-form-label text-md-right\">Token URL</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_token_url\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"token_url\" required>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"redirect_url\"\n\t\t\t\t\t\t\t\t\tclass=\"col-md-4 col-form-label text-md-right\">Redirect\n\t\t\t\t\t\t\t\t\tURL</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_redirect_url\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"redirect_url\" required>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"node_red_base_url\"\n\t\t\t\t\t\t\t\t\tclass=\"col-md-4 col-form-label text-md-right\">Node-RED\n\t\t\t\t\t\t\t\t\tBase URL</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_base_url\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"node_red_base_url\" required>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"client_id\"\n\t\t\t\t\t\t\t\t\tclass=\"col-md-4 col-form-label text-md-right\">App\n\t\t\t\t\t\t\t\t\tClient ID</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_client_id\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"client_id\" required>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"transfer_url\"\n\t\t\t\t\t\t\t\t\tclass=\"col-md-4 col-form-label text-md-right\">Funds\n\t\t\t\t\t\t\t\t\tTransfer URL</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_transfer_url\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"transfer_url\" required>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t<div class=\"col-md-6 offset-md-4\">\n\t\t\t\t\t\t\t\t<button type=\"submit\" class=\"btn btn-primary\">\n\t\t\t\t\t\t\t\t\tConfigure Application</button>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t</form>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n\t</main>\n\n</body>\n</html>\n\n","output":"str","x":440,"y":980,"wires":[["80e54ae6.b51f48"]]},{"id":"80e54ae6.b51f48","type":"http response","z":"9fe22756.df803","name":"","statusCode":"","headers":{},"x":730,"y":980,"wires":[]},{"id":"756e48ef.e8f7","type":"http in","z":"9fe22756.df803","name":"Apply Configuration","url":"/configure","method":"post","upload":false,"swaggerDoc":"","x":130,"y":1060,"wires":[["890c1535.ac8738","c5077254.02a388"]]},{"id":"890c1535.ac8738","type":"function","z":"9fe22756.df803","name":"SetGlobal","func":"var node_red_url = msg.payload.node_red_base_url;\nvar oauth_authorize_url = msg.payload.authorize_url;\nvar oauth_token_url = msg.payload.token_url;\nvar redirect_url = msg.payload.redirect_url;\nvar client_id = msg.payload.client_id;\nvar transfer_url = msg.payload.transfer_url;\n\nvar globalContext = global;\nglobalContext.set(\"node_red_url\",node_red_url);\nglobalContext.set(\"oauth_authorize_url\",oauth_authorize_url);\nglobalContext.set(\"oauth_token_url\", oauth_token_url);\nglobalContext.set(\"redirect_url\", redirect_url);\nglobalContext.set(\"client_id\", client_id);\nglobalContext.set(\"transfer_url\", transfer_url);\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1060,"wires":[["4ec9c4be.f3c3e4"]]},{"id":"4ec9c4be.f3c3e4","type":"template","z":"9fe22756.df803","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        Applied configuration successfully. Please wait...\n        <script>\n              function redirect(url) {\n\t                \twindow.location = url;\n            \t}\n              setTimeout(redirect(\"{{{payload.node_red_url}}}/login\"), 1000)\n        </script>\n    </body>\n</html>","output":"str","x":600,"y":1060,"wires":[["e732800f.36ff48"]]},{"id":"e732800f.36ff48","type":"http response","z":"9fe22756.df803","name":"","statusCode":"200","headers":{},"x":820,"y":1060,"wires":[]},{"id":"c5077254.02a388","type":"debug","z":"9fe22756.df803","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":1140,"wires":[]},{"id":"69f6a2e1.8d2a84","type":"template","z":"9fe22756.df803","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response_type\":\"code\",\"client_id\":\"{{{payload.client_id}}}\",\"scope\":\"funds_transfer\",\"redirect_uri\":\"{{{payload.redirect_url}}}\",\"original-url\":\"{{{payload.oauth_authorize_url}}}?response_type=code&client_id={{{payload.client_id}}}&redirect_uri={{{payload.redirect_url}}}&scope=funds_transfer\",\"apim-source\":\"html-login\"}","output":"str","x":440,"y":200,"wires":[["706db202.a0079c"]]},{"id":"50db79be.e21d7","type":"function","z":"9fe22756.df803","name":"GetGlobal","func":"var globalContext = global;\nglobalContext.set(\"username\",msg.payload.username);\nglobalContext.set(\"password\",msg.payload.password);\nmsg.payload.oauth_authorize_url = globalContext.get(\"oauth_authorize_url\");\nmsg.payload.redirect_url = globalContext.get(\"redirect_url\");\nmsg.payload.client_id = globalContext.get(\"client_id\");\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":200,"wires":[["69f6a2e1.8d2a84"]]},{"id":"bac13552.abb568","type":"function","z":"9fe22756.df803","name":"GetGlobal","func":"var globalContext = global;\nglobalContext.set(\"username\",msg.payload.username);\nglobalContext.set(\"password\",msg.payload.password);\nmsg.payload.node_red_url = globalContext.get(\"node_red_url\");\nmsg.payload.oauth_authorize_url = globalContext.get(\"oauth_authorize_url\");\nmsg.payload.oauth_token_url = globalContext.get(\"oauth_token_url\");\nmsg.payload.redirect_url = globalContext.get(\"redirect_url\");\nmsg.payload.client_id = globalContext.get(\"client_id\");\nnode.error(globalContext);\nnode.error(globalContext.get(\"oauth_token_url\"));\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":520,"wires":[["4554c9b0.78e7b"]]},{"id":"11028e87.8448f1","type":"function","z":"9fe22756.df803","name":"GetGlobal","func":"var globalContext = global;\nglobalContext.set(\"username\",msg.payload.username);\nglobalContext.set(\"password\",msg.payload.password);\nmsg.payload.node_red_url = globalContext.get(\"node_red_url\");\nmsg.payload.oauth_authorize_url = globalContext.get(\"oauth_authorize_url\");\nmsg.payload.oauth_token_url = globalContext.get(\"oauth_token_url\");\nmsg.payload.redirect_url = globalContext.get(\"redirect_url\");\nmsg.payload.client_id = globalContext.get(\"client_id\");\nnode.error(globalContext);\nnode.error(globalContext.get(\"oauth_token_url\"));\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":420,"wires":[["c7e1b3a2.bda6d"]]},{"id":"71af418c.f6302","type":"comment","z":"9fe22756.df803","name":"The below flow renders login page","info":"","x":180,"y":40,"wires":[]},{"id":"cde7b74f.f71ce","type":"comment","z":"9fe22756.df803","name":"The below flow invokes authorize endpoint on API Connect","info":"","x":250,"y":160,"wires":[]},{"id":"2c08f5e7.40a552","type":"comment","z":"9fe22756.df803","name":"The below flow renders the menu page","info":"","x":190,"y":260,"wires":[]},{"id":"a1e97873.de1e58","type":"comment","z":"9fe22756.df803","name":"The below flow invokes the funds transfer endpoint on API Connect","info":"","x":280,"y":380,"wires":[]},{"id":"ed7dddf3.9761f","type":"comment","z":"9fe22756.df803","name":"The below flow renders the Funds Transfer UI page","info":"","x":231,"y":478,"wires":[]},{"id":"a2475e5a.957f1","type":"comment","z":"9fe22756.df803","name":"The below flow returns the CSS style sheet","info":"","x":200,"y":600,"wires":[]},{"id":"8e91a85c.378be8","type":"comment","z":"9fe22756.df803","name":"The below endpoint is the Redirect URI for OAuth","info":"","x":220,"y":760,"wires":[]},{"id":"61b7bbac.3c901c","type":"comment","z":"9fe22756.df803","name":"The below flow renders application configuration page","info":"","x":240,"y":940,"wires":[]},{"id":"18f104c9.7dcaa3","type":"comment","z":"9fe22756.df803","name":"The below flow stores the application configuration on global context","info":"","x":290,"y":1020,"wires":[]}]